<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cryptopahala - Solusi investasi dunia akhirat </title>
  <link rel="shortcut icon" type="image/ico" href="static/img/logo-blue.png"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300&display=swap" rel="stylesheet">
</head>
<body id="home">
  <main class="main-container">
      <div class="header">
        <img class="header-img img-responsive" src="/static/img/header.png" alt="header"/>
      </div>
      <div class="header-text-box">
        <h1>Punya banyak pahala? Mencari tempat untuk menginvestasikannya? </h1>
  
        <div class="inside">
          <h2>Klik register untuk mulai berinvestasi ↓ </h2>
          <div class= "click">
            <a class="button register" href='/profile/add'>register</a> |   
            <a class="button login" href='/profile/login'>login</a>
          </div>
        </div>
      </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>