<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://fonts.googleapis.com/css?family=Rubik:300&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/profileForm.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/ico" href="/static/img/logo-blue.png" />
  <style>
    * {
      font-family: "Rubik"
    }

    .btn-primary {
      color: #fff;
      background-color: #337ab7;
      margin: 10px;

      border-color: #2e6da4;
    }
  </style>
  <title>Chart - Frekuensi Perbuatan</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>
  <div class="chart-container" style="position: relative; height:50vh; width:50vw; margin: auto;">
    <!-- <canvas id="myChart"></canvas> -->
    <canvas id="myChart" width="200" height="200"></canvas>
  </div>

  <div id="deeds" data-deeds="<%= JSON.stringify(deeds) %>"></div>


  <script>
    var ctx = document.getElementById('myChart');
    var el = document.getElementById('deeds');

    var deeds = JSON.parse(el.dataset.deeds)
    console.log(deeds);

    const colorWheel = [
      'rgba(255, 99, 132, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(255, 206, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(153, 102, 255, 0.2)',
      'rgba(255, 159, 64, 0.2)',
      'rgba(245, 99, 132, 0.2)',
      'rgba(54, 152, 235, 0.2)',
      'rgba(255, 206, 76, 0.2)',
      'rgba(75, 182, 192, 0.2)',
      'rgba(143, 102, 255, 0.2)',
      'rgba(255, 149, 64, 0.2)',
      'rgba(255, 99, 132, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(255, 206, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(153, 102, 255, 0.2)',
      'rgba(255, 159, 64, 0.2)',
      'rgba(245, 99, 132, 0.2)',
      'rgba(54, 152, 235, 0.2)',
      'rgba(255, 206, 76, 0.2)',
      'rgba(75, 182, 192, 0.2)',
      'rgba(143, 102, 255, 0.2)',
      'rgba(255, 149, 64, 0.2)'
    ]

    var colorChoice = []
    var borderWidth = []

    for (let i = 0; i < deeds.deedFreqArr.length; i++) {
      colorChoice.push(colorWheel[i])
      borderWidth.push(1)
    }

    var myPieChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: deeds.deedNamesArr, // ini adalah nama perbuatanannya
        datasets: [{
          // label: '# of Votes',
          data: deeds.deedFreqArr, // ini adalah frekuensinya
          backgroundColor: colorChoice,
          borderColor: colorChoice,
          borderWidth: borderWidth
        }]
      },
      options: {
        cutoutPercentage: 50
      }
    });
  </script>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <a class="btn btn-primary" role="button" href="/"> Home</a>

      </div>
      <div class="col-sm">
        <a class="btn btn-primary" role="button" href="/chart/leaderboard" style="margin: auto;">Leaderboard</a>
      </div>
    </div>
  </div>

</body>

</html>